	<!DOCTYPE html>
	<html ng-app>
	<head>
		<title>How Expressions Work</title>
		<meta charset="utf-8">
		<script type="text/javascript" src='scripts/angular.js'></script>
	</head>
	<body>
	<form id="form1">
		<table class="" border="1">
			<tr>
			<td class="">First Name</td>
			<td><input type="text" ng-model='firstname'></td>
			</tr>

			<tr>
			<td class="">Last Name</td>
			<td><input type="text" ng-model='lastname'>
			</td>
			</tr>

			<tr>
			<td class="">Quantity</td>
			<td><input type="text" ng-model='quantiy'>	
			</td>
			</tr>


			<tr>
			<td class="">Item Cost</td>
			<td>
			<input type="text" ng-model='price'>
			</td>	
			</tr>


			<tr>
			<td>
			<input type="button"  value="Total" ng-click="display=firstname+''+lastname+'have to pay&nbsp;&nbsp; '+quantiy*price+'INR'">
			</td>
			<td>{{display}}</td>
			</tr>










		</table>


	</form>
	</body>
	</html>