	<!DOCTYPE html>
	<html ng-app>
	<head>
		<title>How to Work with Validations</title>
		<script type="text/javascript" src='scripts/angular.js'></script>
	<link rel="stylesheet" type="text/css" href="css/howvalidationworks.css"/>
		</head>
	<body >
	<form name="myForm">
		<h2>Dummy Form</h2>
		
			<input type="text" name="myName" ng-model="myName" placeholder="Enter your name" required>


	</form>
	</body>
	</html>