	<!DOCTYPE html>
	<html ng-app='howcontrollerworksModule'>
	<head>
		<title>How Filter works in AngularJS</title>
		<meta charset="utf-8">
		<script type="text/javascript" src='scripts/angular.js'></script>
		<!--our custom js-->
		<script type="text/javascript"  src='scripts/howcontrollerworks.js'></script>
		
	</head>
	<body>
		<div ng-controller='howcontrollerworks'>{{ message }}</div><br>
		<table style="width: 450px;border:2px solid black;">
		<input type="text" ng-model="searchText.firstname" placeholder="Search FirstName">
		<input type="text" ng-model="searchText.lastname" placeholder="Search by LastName">
		<input type="text" ng-model="searchText.gender" placeholder="Search by Gender">
		<input type="text" ng-model="searchText.salary" placeholder="Search by  Salary">
		</table>	


		<div ng-controller='dataController'>	
		<br>
		<table style="width: 500px;border:2px solid black;">
				<thead>
					
					<tr style="text-align: left;">
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees|filter:searchText|orderBy:'firstname'&& orderBy:'salary'">
					<td> {{ emp.firstname |uppercase}} </td>
					<td> {{ emp.lastname |lowercase}} </td>
					<td> {{ emp.gender }} </td>
					<td> {{ emp.salary |currency}}</td>
				</tbody>
		</table>
		</div>

	</body>
	</html>