	<!DOCTYPE html>
	<html ng-app='howcontrollerworksModule'>
	<head>
		<title>How Controller works in AngularJS</title>
		<meta charset="utf-8">
		<script type="text/javascript" src='scripts/angular.js'></script>
		<!--our custom js-->
		<script type="text/javascript"  src='scripts/howcontrollerworks.js'></script>
		
	</head>
	<body>
		<div ng-controller='howcontrollerworks'>{{ message }}</div>

		
		<div ng-controller='dataController'>	
		<table style="width: 500px;border:2px solid black;">
				<thead>
					
					<tr style="text-align: left;">
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees">
					<td> {{ emp.firstname }} </td>
					<td> {{ emp.lastname }} </td>
					<td> {{ emp.gender }} </td>
					<td> {{ emp.salary }}</td>
				</tbody>
		</table>
		</div>

	</body>
	</html>