<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Demo</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="scripts/angular.js"></script>
</head>
<body>
<!-- ng-app is a directive -->
<div ng-app="">
Plain Text:{{ 10+20 }}
</div>
<div>
Expression Text:{{ 10+20 }}
</div>
</body>
</html>