<!-- /**
* 
ng-app:for start application angular.js app
ng-model:for control(HTML data)
ng-bind:for tag(Html Tags)
ng-controller:
ng-value:
ng-show:
ng-hide:
ng-init:
ng-repeat:
ng-click:
ng-disabled:

*/
-->
<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
	<title>How ng-model and ng-bind Works</title>
	<script type="text/javascript" src='scripts/angular.js'></script>
</head>
<body>
<div>
<p>Enter your name <input type="text" name="" ng-model='name'></p>
<p>Hello&nbsp;&nbsp;<span ng-bind='name'></span></p>

</div>
<div>

<table border="1">
<tr>

<td>
<input type="checkbox" ng-model='enableDisableButton'>Disable</td>
<td>
<button ng-disabled="enableDisableButton">Click Me</button>
</td>
</tr>


<tr>

<td><input type="checkbox" ng-model='showHide'>Show Button</td>
<td ng-show='showHide'><button name="click">Click Me</button></td>
</tr>






</table>
<td>
<p>Click Count:{{clckCounter}}</p></td>
<button ng-click="clckCounter=clckCounter+1">Clck</button> 

</td>
</tr>
</div>

</body>
</html>